[submodule "third_party/splinepy"]
	path = third_party/splinepy
	url = git@github.com:tataratat/splinepy.git
[submodule "third_party/mfem"]
	path = third_party/mfem
	url = git@github.com:mfem/mfem.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
